<div id="<%= dom_id price %>">
  <p>
    <strong>Name coin:</strong>
    <%= price.name_coin %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= price.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= price.image %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= price.link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= price.description %>
  </p>

</div>
